@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap");
@font-face {
  font-family: "advertisingbold";
  src: url("../fonts/advertisingbold.ttf");
}

@font-face {
  font-family: "ae_AlMohanad";
  src: url("../fonts/ae_AlMohanad.ttf");
}

body {
  font-family: Arial, Helvetica, sans-serif, "ae_AlMohanad";
  background-color: #f9f9f9;
  font-size: 17px;
}

body {
  min-height: 100vh;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

.page-wrapper {
  min-height: 80vh;
}

.hover01 img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover01:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hover10 img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.hover10:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.page-wrapper {
  position: relative;
}

.social-icons {
  position: fixed;
  right: 0;
  top: 330px;
  z-index: 99999;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}

.social-icons .social-icons__list li {
  background-color: #0F245E;
  margin-top: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.social-icons .social-icons__list li:hover {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.social-icons .social-icons__list li a {
  padding: 5px 10px 5px 5px;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-icons .social-icons__list li a svg {
  width: 20px;
  height: 20px;
}

.social-icons .social-icons__list li a svg path {
  fill: #ffffff;
}

.social-icons .social-icons__list li a:hover svg path {
  fill: #ffa810;
  padding-left: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 992px) {
  .page-wrapper {
    padding-top: 160px;
  }
}

.compare__btn-add {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: #264290;
  color: #ffffff;
  width: 50px;
  height: 50px;
}

.compare__btn-add:hover {
  color: #F89F0A;
  background-color: #0F245E;
}

.see-more {
  margin: 0 auto;
  display: inline-block;
  background-color: #ffffff;
  padding: 7px 20px;
  border-radius: 20px;
  font-size: 1rem;
  color: #818080;
  -webkit-box-shadow: 0px 0px 1px 0px #f59c0c;
          box-shadow: 0px 0px 1px 0px #f59c0c;
}

.see-more svg {
  width: 20px;
}

.elementor-divider .elementor-divider-seprator {
  width: 70px;
  height: 5px;
  background-color: #F89F0A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
}

.elementor-divider .seprator--center {
  margin: 0 auto;
}

.img-b-s {
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 5px 1px #8a8a8a;
          box-shadow: 0px 3px 5px 1px #8a8a8a;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-b-s img {
  width: 100%;
  height: 100%;
}

.box-sh-r {
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 5px 1px #8a8a8a;
          box-shadow: 0px 3px 5px 1px #8a8a8a;
  padding: 20px;
}

.box-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-list .list li {
  position: relative;
  padding: 0 10px;
}

.box-list .list li::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 5px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #F89F0A;
  border-bottom: 5px solid transparent;
}

.box-list .link {
  margin-top: 10px;
}

.box-list .link span {
  padding: 5px 10px;
  border-radius: 7px;
  background-color: #0F245E;
}

.box-list .link span a {
  color: #ffffff;
}

header {
  max-height: 700px;
}

header .navbar--cutom {
  position: fixed;
}

header .navbar--cutom .container--custom {
  position: relative;
  z-index: 2;
}

header .navbar--cutom .navbar-collapse {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navbar--cutom .navbar-collapse .navbar-nav .nav-item {
  position: relative;
}

header .navbar--cutom .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .navbar--cutom .navbar-collapse .navbar-nav .nav-item.active .nav-link {
  color: #F89F0A;
}

header .navbar--cutom .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
  background: #ffffff82;
}

header .navbar--cutom .navbar-collapse .navbar-nav .nav-item .dropdown-menu a {
  font-size: 0.7rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .navbar--cutom .navbar-collapse .navbar-nav .nav-item .dropdown-menu a:hover {
  color: #F89F0A;
  padding-left: 19px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .navbar--cutom .navbar-collapse .search-form .btn-lang {
  -webkit-margin-start: 25px;
          margin-inline-start: 25px;
  background-color: #fff;
  padding: 1px 7px;
  font-family: ae_AlMohanad;
  font-size: 14px;
}

header .navbar--cutom .navbar-collapse .search-form .btn-lang img {
  width: 20px;
  height: 16px;
}

header .navbar--cutom .navbar-brand svg {
  width: 126px;
  height: 52px;
}

header .navbar--cutom .menu-line {
  border-top: 2px solid rgba(174, 174, 174, 0.816);
  z-index: 2;
  display: none;
}

header .navbar--cutom .over-lay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0f245e59;
  z-index: 1;
}

header .navbar--cutom.navbar--index .logo {
  width: 100px !important;
  height: 100px !important;
}

header .logo--white {
  width: 50px;
  height: 50px;
}

header .logo--white {
  display: none;
  width: 50px;
  height: 50px;
}

header .sticky .logo {
  display: none !important;
}

header .sticky .logo--white {
  display: block;
  width: 50px;
  height: 50px;
}

header .navbar--index {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-image: none !important;
}

header .navbar--index .menu-line,
header .navbar--index .over-lay {
  display: none;
}

header .page-title h4 {
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  header .navbar--cutom {
    height: 120px;
    display: block;
    background-image: url("../imges/bg_menu.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
  }
  header .navbar--cutom {
    padding-left: 0;
    padding-right: 0;
  }
  header .navbar--cutom .container--custom {
    padding: 0 13px;
  }
  header .navbar--cutom .logo {
    width: 100px;
    height: 100px;
  }
  header .navbar--cutom .navbar-brand {
    margin: 0 5px;
  }
  header .navbar--cutom .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  header .navbar--cutom .navbar-collapse .navbar-nav .nav-item .nav-link:hover::before {
    content: "";
    border-bottom: 2px solid #F89F0A;
    position: absolute;
    bottom: 1px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 60%;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  header .navbar--cutom .navbar-collapse .navbar-nav .nav-item.active .nav-link {
    color: #F89F0A;
  }
  header .navbar--cutom .navbar-collapse .navbar-nav .nav-item.active .nav-link::before {
    content: "";
    border-bottom: 2px solid #F89F0A;
    position: absolute;
    bottom: 1px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 60%;
  }
  header .navbar--cutom .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
    background: #03030370;
    border-bottom: 2px solid #F89F0A;
  }
  header .navbar--cutom .navbar-collapse .navbar-nav .nav-item .dropdown-menu a {
    font-size: 0.7rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: white;
  }
  header .navbar--cutom .navbar-collapse .navbar-nav .nav-item .dropdown-menu a:hover {
    color: #F89F0A;
    padding-left: 19px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  header .navbar--cutom .navbar-collapse .search-form .btn-lang {
    -webkit-margin-start: 25px;
            margin-inline-start: 25px;
    background-color: #fff;
    padding: 1px 7px;
    font-family: ae_AlMohanad;
    font-size: 14px;
  }
  header .navbar--cutom .navbar-collapse .search-form .btn-lang img {
    width: 20px;
    height: 16px;
  }
  header .navbar--cutom .navbar-brand svg {
    width: 126px;
    height: 52px;
  }
  header .navbar--cutom .menu-line {
    border-top: 2px solid rgba(174, 174, 174, 0.816);
    z-index: 2;
  }
  header .navbar--cutom .over-lay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0f245e59;
    z-index: 1;
  }
  header .navbar--index {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  header .navbar--index .menu-line,
  header .navbar--index .over-lay {
    display: none;
  }
  header .page-title {
    position: relative;
    z-index: 2;
    display: none;
  }
  header .page-title h4 {
    color: #ffffff;
    text-transform: uppercase;
  }
  header .sticky {
    -webkit-transition: position 0.3s ease-in-out;
    transition: position 0.3s ease-in-out;
    position: fixed;
    z-index: 99999999999;
    height: 74px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #00000057;
  }
  header .sticky .page-title {
    display: none;
  }
  header .navbar--cutom .navbar-collapse .navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
  }
}

@media (max-width: 991.98px) {
  header .navbar--cutom {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99999;
  }
  header .navbar--cutom .logo {
    width: 40px;
    height: 40px;
  }
  header .navbar--cutom .page-title {
    display: none;
  }
  header .sticky .logo--white {
    width: 40px;
    height: 40px;
  }
  header .navbar--cutom .navbar-brand svg {
    width: 90px;
  }
  header .navbar .navbar-toggler {
    outline: none;
    border-radius: 0;
  }
  header .navbar .navbar-toggler .navbar-toggler-icon {
    background-color: #F89F0A;
    display: block;
    height: 2px;
  }
  header .navbar .navbar-toggler .navbar-toggler-icon:not(:last-of-type) {
    margin-bottom: 0.3rem;
  }
  header .navbar .navbar-toggler.collapsed .navbar-toggler-icon {
    background-color: #fff;
  }
  header .navbar .navbar-collapse {
    background-color: #0f245ebd;
  }
  header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 12px;
  }
  header .navbar .form-inline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .navbar .form-inline .btn-search {
    margin-left: 25px;
  }
  header .navbar--sec .navbar-toggler {
    border: 2px solid #3e206d;
    outline: none;
  }
  header .navbar--sec .navbar-toggler .navbar-toggler-icon {
    background-color: #3e206d;
  }
  header .navbar--sec .navbar-collapse {
    background-color: #eeeeee;
  }
}

.swiper-container--index {
  border-bottom: 1px solid #ffc051;
  height: 100vh;
}

.swiper-container--index .swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container--index .swiper-slide {
  position: relative;
}

.swiper-container--index .swiper-slide .banner-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9999;
}

.swiper-container--index .swiper-slide .banner-content .content__logo {
  text-align: center;
}

.swiper-container--index .swiper-slide .banner-content .content__logo img {
  width: 200px;
  height: 200px;
}

.swiper-container--index .swiper-slide .banner-content .content__logo svg {
  width: 100%;
  height: auto;
  max-height: 170px;
}

.swiper-container--index .swiper-slide .banner-content .content__text h5 {
  line-height: 1.5;
  color: #ffffff;
  font-size: 1.8rem;
}

.swiper-container--index .swiper-slide .banner-content .content__text .start {
  color: #ffffff;
}

.swiper-container--index .swiper-slide .banner-content .content__text .start svg {
  width: 16px;
  -webkit-margin-start: 6px;
          margin-inline-start: 6px;
}

.swiper-container--index .swiper-slide .banner-content .content__text .start svg path {
  fill: #F89F0A;
}

.swiper-container--index .swiper-slide .over-lay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: #0f245e2e;
}

.swiper-container--index .swiper-slide .slide {
  width: 100%;
  height: 100%;
}

.swiper-container--index .swiper-button-next {
  right: 50px;
}

.swiper-container--index .swiper-button-prev {
  left: 50px;
}

.swiper-container--index .swiper-button-next,
.swiper-container--index .swiper-button-prev {
  top: 50%;
  background-image: none;
}

.swiper-container--index .swiper-button-next svg path,
.swiper-container--index .swiper-button-prev svg path {
  fill: #F89F0A;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.swiper-container--index .swiper-button-next:hover svg path,
.swiper-container--index .swiper-button-prev:hover svg path {
  fill: #ffc051;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.swiper-container--index .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  opacity: 1;
}

.swiper-container--index .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #F89F0A;
  opacity: 1;
}

.welcome-section {
  padding: 100px 0;
}

.welcome-section .welcome-content {
  padding-top: 70px;
}

.welcome-section .welcome-content h4 {
  padding-top: 30px;
}

.welcome-section .welcome-content p {
  padding-bottom: 30px;
  margin-bottom: 0;
  border-bottom: 2px solid #707070;
}

.welcome-section .welcome-img img {
  width: 100%;
}

.parallax-section {
  position: relative;
  text-align: center;
  background-image: url("../imges/003.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
}

.parallax-section .over-lay {
  padding: 105px 0;
  background-color: #1e45b152;
}

.parallax-section h2 {
  margin-top: 10px;
}

.parallax-section .parallax__book {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -25px;
}

.parallax-section .parallax__book .book-an-appointment {
  margin: 0 auto;
  display: inline-block;
  background-color: #ffffff;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 1rem;
  color: #818080;
  -webkit-box-shadow: 0px 0px 1px 0px #f59c0c;
          box-shadow: 0px 0px 1px 0px #f59c0c;
}

.parallax-section .parallax__book .book-an-appointment svg {
  width: 30px;
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
}

.parallax-section .parallax__book .book-an-appointment svg path {
  fill: #F89F0A;
}

.our-specialization {
  padding: 100px 0;
}

.our-specialization .specialization__img img {
  width: 100%;
  max-height: 240px;
}

.our-specialization p {
  margin: 20px 0;
}

.our-specialization .specialization__box {
  margin-bottom: 10px;
}

.our-specialization .specialization__box span img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 10px;
}

.recent-projects .projects__container {
  padding: 10px 0 50px 0;
}

.recent-projects .projects__img {
  margin-top: 20px;
}

.recent-projects .projects__img a {
  position: relative;
  display: block;
}

.recent-projects .projects__img a::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.recent-projects .projects__img a:hover::after {
  background-color: #0f245e00;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.about-us {
  padding-top: 70px;
  padding-bottom: 70px;
}

.finishing {
  padding-top: 70px;
  padding-bottom: 70px;
}

.developer {
  padding-top: 70px;
  padding-bottom: 70px;
}

.developer .img-b-s-developer {
  margin-top: 0;
}

.developer .img-t {
  height: 250px;
}

.developer .img-f-h {
  height: 100%;
  margin-top: 20px;
}

.developer .img-f-h img {
  height: 100%;
}

.developer--detail .img-profile {
  max-width: 100px;
  max-height: 100px;
}

.developer--detail .img-profile-II img {
  max-height: 400px;
}

.developer--detail .swiper-container--related {
  padding-bottom: 30px;
}

.developer--detail .swiper-container--related .swiper-wrapper .swiper-slide {
  border-radius: 10px;
  overflow: hidden;
}

.developer--detail .swiper-container--related .swiper-wrapper .swiper-slide img {
  height: 125px;
}

.developer--detail .swiper-container--related .swiper-button-next,
.developer--detail .swiper-container--related .swiper-button-prev {
  background-image: none;
}

.developer--detail .swiper-container--related .swiper-button-next svg path,
.developer--detail .swiper-container--related .swiper-button-prev svg path {
  fill: #F89F0A;
}

.developer--detail .swiper-container--related .swiper-scrollbar {
  background-color: #e9e8e8;
  height: 15px;
}

.developer--detail .swiper-container--related .swiper-scrollbar div {
  height: 15px;
  background-color: #F89F0A !important;
}

.developer--detail .all-data {
  padding-top: 50px;
  padding-bottom: 50px;
}

.developer--detail .all-data a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.developer--detail .all-data svg {
  width: 60px;
  height: 60px;
}

.developer--detail .all-data p {
  margin-bottom: 0;
  color: #222;
}

.compare {
  padding: 70px 0;
}

.compare .compare__box {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0 0 #fff;
          box-shadow: 0 0 0 0 #fff;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20x;
  -webkit-box-shadow: 0px 0px 3px 0px #8a8;
          box-shadow: 0px 0px 3px 0px #8a8;
}

.compare .compare__box .filter {
  padding: 10px;
  background-color: #eeeeee;
}

.compare .compare__box .filter p {
  margin-bottom: 7px;
}

.compare .compare__box .filter .filter__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.compare .compare__box .filter .filter__input button {
  background-color: #264290;
  color: #ffffff;
}

.compare .compare__box .filter .filter__input button:hover {
  background-color: #0F245E;
  color: #F89F0A;
}

.compare .compare__box .filter .please {
  margin-top: 10px;
  margin-bottom: 10px;
}

.compare .compare__box .filter .please span {
  background: white;
  border-radius: 50%;
  width: 24px;
  height: 23px;
  display: inline-block;
  text-align: center;
}

.compare .compare__box .compare__media {
  text-align: center;
  padding-top: 20px;
}

.compare .compare__box .compare__media img {
  width: 100%;
  max-width: 150px;
  max-height: 150px;
  min-height: 120px;
  border-radius: 10px;
}

.compare .compare__box .compare__media h4 {
  margin-bottom: 0;
  padding: 10px 0;
}

.compare table tr td {
  border: 1px solid #c3c3c3;
}

.compare .table2 tr :not(:first-child) {
  width: 50%;
}

.compare .table2 tr :not(:first-child) div {
  width: 100%;
}

.compare .table2 tr :not(:first-child) p {
  width: 100%;
}

.compare .table2 tr :not(:first-child) h4 {
  width: 100%;
}

.compare .table3 tr :not(:first-child) {
  width: 33.33%;
}

.compare .table3 tr :not(:first-child) div {
  width: 100%;
}

.compare .table3 tr :not(:first-child) p {
  width: 100%;
}

.compare .table3 tr :not(:first-child) h4 {
  width: 100%;
}

.compare .table4 tr :not(:first-child) {
  width: 25%;
}

.compare .table4 tr :not(:first-child) div {
  width: 100%;
}

.compare .table4 tr :not(:first-child) p {
  width: 100%;
}

.compare .table4 tr :not(:first-child) h4 {
  width: 100%;
}

.contact {
  padding: 100px 0;
}

.contact form {
  background-color: #0F245E;
  color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 2px 0 #0F245E;
          box-shadow: 0 0 2px 0 #0F245E;
}

.contact form .form-group input[type="text"],
.contact form textarea {
  border-radius: 10px;
}

.contact form .veriovication-code {
  color: #ffbb00;
  font-weight: bold;
  border: 1px solid #eee;
  padding: 2px 10px;
  letter-spacing: 7px;
}

.contact form .btn-send {
  background-color: #264290;
  color: #fff;
}

.contact form .btn-send:hover {
  background-color: #0F245E;
}

footer {
  border-top: 3px solid #F89F0A;
  background-color: #0F245E;
  color: #ffffff;
}

footer .content {
  padding-top: 60px;
}

footer .content .b-e:not(:last-of-type) {
  -webkit-border-end: 4px solid #F89F0A;
          border-inline-end: 4px solid #F89F0A;
}

footer .content .list li a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .content .list li a svg {
  width: 20px;
  height: 20px;
}

footer .content .list li a svg path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .content .list li a:hover {
  color: #F89F0A;
}

footer .content .list li a:hover svg path {
  fill: #F89F0A;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .content .footer__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .content .footer__social ul li {
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
  -webkit-padding-end: 5px;
          padding-inline-end: 5px;
}

footer .content .footer__social ul li:not(:last-of-type) {
  -webkit-border-end: 2px solid #F89F0A;
          border-inline-end: 2px solid #F89F0A;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .content .footer__social ul li a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .content .footer__social ul li a svg {
  width: 28px;
  height: 28px;
}

footer .content .footer__social ul li a svg path {
  fill: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .content .footer__social ul li a:hover i {
  fill: #F89F0A;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 1400px) {
  footer .footer div {
    font-size: 1.3rem;
  }
  footer .footer div svg {
    width: 60px;
    height: 26px;
  }
}

@media (max-width: 767.98px) {
  footer .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer .footer div {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  .p100 {
    padding-top: 100px;
  }
}

@media (max-width: 991px) {
  header .navbar--cutom {
    padding: 0.5rem 1rem;
  }
  body {
    font-size: 14px;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  header .page-title h4 {
    color: #264290;
    margin: 0;
    padding: 5px 0;
  }
  .swiper-container--index {
    max-height: 640px !important;
  }
  .swiper-container--index .swiper-slide .banner-content .content__text h5 {
    font-size: 1rem;
  }
  .swiper-container--index .swiper-slide .banner-content .content__text .start {
    font-size: 0.7rem;
  }
  .swiper-container--index
.swiper-slide
.banner-content
.content__text
.start
svg {
    width: 12px;
  }
  .swiper-container--index .swiper-slide .banner-content .content__logo {
    text-align: center;
  }
  .swiper-container--index .swiper-slide .banner-content .content__logo svg {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .swiper-container--index {
    height: 300px;
  }
  .swiper-container--index .swiper-slide .banner-content .content__text h2 {
    font-size: 0.7rem;
  }
  .swiper-container--index .swiper-slide .banner-content .content__text h5 {
    font-size: 0.8rem;
  }
  .swiper-container--index .swiper-slide .banner-content .content__text .start {
    font-size: 0.7rem;
  }
  .swiper-container--index
.swiper-slide
.banner-content
.content__text
.start
svg {
    width: 12px;
  }
  .swiper-container--index .swiper-slide .banner-content .content__logo svg {
    width: 65%;
  }
  .swiper-container--index .banner-service .service__list {
    display: none;
  }
  .swiper-container--index .social-icons .social-icons__list li a {
    padding: 3px;
  }
  .swiper-container--index .social-icons .social-icons__list li a svg {
    width: 15px;
    height: 15px;
  }
  .swiper-container--index .swiper-button-next,
  .swiper-container--index .swiper-button-prev {
    display: none;
  }
  .welcome-section {
    padding: 30px 0;
  }
  .welcome-section .welcome-content {
    padding-top: 0px;
  }
  .our-specialization {
    padding: 50px 0;
  }
  .our-specialization h2 {
    padding-top: 20px;
  }
}

body {
  direction: rtl;
  font-family: "Markazi Text", serif;
  font-size: 18px;
}

.swiper-container--index .swiper-button-prev {
  left: 50px;
  right: auto;
}

.social-icons {
  left: 0;
  right: auto;
}

.social-icons .social-icons__list li {
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.social-icons .social-icons__list li a {
  left: 0;
  right: auto;
}

.swiper-container-rtl .swiper-button-next--detail {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-container-rtl .swiper-button-prev--detail {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/*# sourceMappingURL=style-ar.css.map */
