@media (min-width: 992px) {
  .p100 {
    padding-top: 100px;
    
  }
}

@media (max-width: 991px) {
  header .navbar--cutom {
    padding: 0.5rem 1rem;
  }

  body {
    font-size: 14px;
  }

  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.2rem;
  }

  header .page-title h4{
    color: $blue2;
    margin: 0;
    padding: 5px 0;
  }
  .swiper-container--index {
    max-height: 640px !important;
  }
  .swiper-container--index .swiper-slide .banner-content .content__text h5 {
    font-size: 1rem;
  }
  .swiper-container--index .swiper-slide .banner-content .content__text .start {
    font-size: 0.7rem;
  }
  .swiper-container--index
    .swiper-slide
    .banner-content
    .content__text
    .start
    svg {
    width: 12px;
  }
  .swiper-container--index .swiper-slide .banner-content .content__logo {
    text-align: center;
  }
  .swiper-container--index .swiper-slide .banner-content .content__logo svg {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .swiper-container--index {
    height: 300px;
  }
  .swiper-container--index .swiper-slide .banner-content .content__text h2 {
    font-size: 0.7rem;
  }
  .swiper-container--index .swiper-slide .banner-content .content__text h5 {
    font-size: 0.8rem;
  }
  .swiper-container--index .swiper-slide .banner-content .content__text .start {
    font-size: 0.7rem;
  }
  .swiper-container--index
    .swiper-slide
    .banner-content
    .content__text
    .start
    svg {
    width: 12px;
  }
  .swiper-container--index .swiper-slide .banner-content .content__logo svg {
    width: 65%;
  }

  .swiper-container--index .banner-service .service__list {
    display: none;
  }
  .swiper-container--index .social-icons .social-icons__list li a {
    padding: 3px;
    svg {
      width: 15px;
      height: 15px;
    }
  }
  .swiper-container--index .swiper-button-next,
  .swiper-container--index .swiper-button-prev {
    display: none;
  }
  .welcome-section{
    padding: 30px 0;
  }
  .welcome-section .welcome-content{
    padding-top:0px;
  }
  .our-specialization {
    padding: 50px 0;
  }
  .our-specialization h2{
   padding-top: 20px;
  }

}
