@import "style-en.scss";
 
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
 

body {
  direction: rtl;
  font-family: 'Markazi Text', serif;
}

.swiper-container--index .swiper-button-prev {
  left: 50px;
  right: auto;
}
.social-icons {
  left: 0;
  right: auto;
  .social-icons__list li {
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .social-icons__list li a {
    left: 0;
    right: auto;
  }
}
