.compare {
  padding: 70px 0;
  .compare__box {
    background-color: $white;
    box-shadow: 0 0 0 0 #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20x;
    box-shadow: 0px 0px 3px 0px #8a8;
    .filter {
      padding: 10px;
      background-color: rgb(238, 238, 238);
      p {
        margin-bottom: 7px;
      }

      .filter__input {
        display: flex;
        button {
          background-color: $blue2;
          color: $white;

          &:hover {
            background-color: $blue;
            color: $orange;
          }
        }
      }
      .please {
        margin-top: 10px;
        margin-bottom: 10px;
        span {
          background: white;

          border-radius: 50%;
          width: 24px;
          height: 23px;
          display: inline-block;
          text-align: center;
        }
      }
    }
    .compare__media {
      text-align: center;
      padding-top: 20px;
      img {
        width: 100%;
        max-width: 150px;
        max-height: 150px;
        min-height: 120px;
        border-radius: 10px;
      }
      h4 {
        margin-bottom: 0;
        padding: 10px 0;
      }
    }
  }
  table {
    tr {
      td {
        border: 1px solid #c3c3c3;
      }
    }
  }

  .table2 {
    tr :not(:first-child ){
    
      width: 50%;
      div{
        width: 100%;
      }
      p{
        width: 100%;
      }
      h4{
        width: 100%;
      }
    }
    
  }

  .table3 {
    tr :not(:first-child ){
    
      width: 33.33%;
      div{
        width: 100%;
      }
      p{
        width: 100%;
      }
      h4{
        width: 100%;
      }
    }
    
  }

  .table4 {
    tr :not(:first-child ){
    
      width: 25%;
      div{
        width: 100%;
      }
      p{
        width: 100%;
      }
      h4{
        width: 100%;
      }
    }
    
  }
}
