// swiper
.swiper-container--index {
  border-bottom: 1px solid #ffc051;
  height: 100vh;
  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    position: relative;
    .banner-content {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 9999;

      .content__logo {
        svg {
          width: 100%;
          height: auto;
          max-height: 170px;
        }
      }

      .content__text {
        h5 {
          line-height: 1.5;
          color: $white;
          font-size: 1.8rem;
        }
        .start {
          color: $white;

          svg {
            width: 16px;
            margin-inline-start: 6px;
            path {
              fill: $orange;
            }
          }
        }
      }
    }
    .over-lay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 999;
      background-color: #0f245e2e;
    }

    .slide {
      width: 100%;
      height: 100%;
    }
  }
  .swiper-slide-active {
    .slide {
      transition-delay: 2s;
      transform: scale(1.1, 1.1);
      transition: all 13s ease-in-out;
    }
  }

  .swiper-button-next {
    right: 50px;
  }
  .swiper-button-prev {
    left: 50px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 50%;

    background-image: none;

    svg path {
      fill: $orange;
      transition: all 0.3s ease-in-out;
    }
    &:hover svg path {
      fill: #ffc051;
      transition: all 0.3s ease-in-out;
    }
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: $white;
    opacity: 1;
    &.swiper-pagination-bullet-active {
      background-color: $orange;
      opacity: 1;
    }
  }
}
// e swiper

// index

.welcome-section {
  padding: 100px 0;

  .welcome-content {
    padding-top: 70px;
    h4 {
      padding-top: 30px;
    }
    p {
      padding-bottom: 30px;
      margin-bottom: 0;
      border-bottom: 2px solid #707070;
    }
  }
  .welcome-img {
    img {
      width: 100%;
    }
  }
}
.parallax-section {
  position: relative;
  text-align: center;
  background-image: url("../imges/003.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: $white;
  .over-lay {
    padding: 105px 0;
    background-color:#1e45b152;
  }

  h2 {
    margin-top: 10px;
  }

  .parallax__book {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
    .book-an-appointment {
      margin: 0 auto;
      display: inline-block;
      background-color: $white;
      padding: 10px 30px;
      border-radius: 20px;
      font-size: 1rem;
      color: $gray2;
      box-shadow: 0px 0px 1px 0px #f59c0c;
      svg {
        width: 30px;
        margin-inline-start: 10px;

        path {
          fill: $orange;
        }
      }
    }
  }
}
.our-specialization {
  padding: 100px 0;
  .specialization__img {
    img {
      width: 100%;
      max-height: 240px;
    }
  }

  p {
    margin: 20px 0;
  }
  .specialization__box {
    margin-bottom: 10px;

    span{
      img{
        max-width: 50px;
        max-height: 50px;
        border-radius: 10px;
      }
    }
    
  }
}

.recent-projects {
  .projects__container {
    padding: 10px 0 50px 0;
  }
  .projects__img {
    margin-top: 20px;
    a {
      position: relative;
      display: block;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        // background-color: #1e45b152;
        z-index: 3;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all 0.3s ease-in-out;
      }

      &:hover::after {
        background-color: #0f245e00;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

// e index


